<html>
    <head>


        <title>{{ TraceVis  }}</title>




        <link rel='stylesheet' href='/static/bootstrap/css/bootstrap.min.css'>

    </head>
    <body style="text-align: -webkit-center;" >
        <h1>TraceVis</h1>
        <br>

        
        <div style="align-self: center;" >

            <div class="form-group">
            <form  action="/process" method="POST" style="margin-left: 10%; margin-right: 10%;" >

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">URL</span>
                    </div>
                    <input  type="text" class="form-control" placeholder="https://github.com" aria-label="Username" aria-describedby="basic-addon1" name="url">
                  </div>
                </div>

                <button id="button" type="submit" class="btn btn-warning">START</button>
            </form>
        </div>
        <div id="loader">
            <div id="shadow"></div>
            <div id="box"></div>
          </div>
          <br>
          <h4>This process may take more than 5 minutes - be patient</h4>
    
    
    </body>
</html>
